@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-mainColor: #67BF6E;
    --color-secondaryColor: #73C479;
    --color-mainGray: #D1D1D1;
    --color-thirdColor: #A8FFAE;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


@keyframes drawFrame {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawTop {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawLine1 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes drawLine2 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes fillRect {
    50% {
        height: 3px;
    }
    100% {
        height: 0;
    }
}
.animate-calendar .calendar-frame {
    animation: drawFrame 0.7s forwards;
}
.animate-calendar .calendar-top {
    animation: drawTop 0.2s 0.7s forwards
}
.animate-calendar rect {
    animation: fillRect 0.4s 0.9s forwards;
}
.animate-calendar .calendar-line-1 {
    animation: drawLine1 0.2s 1.1s forwards;
}
.animate-calendar .calendar-line-2 {
    animation: drawLine2 0.2s 1.3s forwards;
}

.flatpickr-calendar {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 999;
}
